

* {
    box-sizing: border-box;
}

html {
    font-size: 42px; /* Fixo */    
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: white;
    margin: 0;
    padding: 0;
}

.app {
    border: 5px solid red;
    padding: 5px;

    width: 100vw;
    height: 100vh;
}

.titulo {
    font-size: 1.5em; /* 150% */
    color: gray;
}

.lista {

    /* Texto */
    font-size: 16px;

    /* Caixas flexíveis */
    display: flex;
    gap: 10px;
    flex-direction: column;

    /* Remover estilo de lista */
    list-style: none;

    /* Espaçamento interno */
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;

}

.lista__item {

    /* Cores */
    background-color: gray;

    /* Texto */
    font-size: 1rem; /* Proporcional */

    /* Borda */
    border-radius: 5px;

    /* Espaçamento externo */
    margin-top: 10px;
    margin-bottom: 10px;

    /* Espaçamento interno */
    padding: 20px;

    /* Texto */
    text-align: center;

    /* Dimensão */
    width: 100%;
}

/* Computador */ 

@media(min-width: 481px) {

    html {
        font-size: 16px;
    }

    body {
        /* Cores */
        background-color: black;
    }

    .lista {
        /* Direção */
        flex-direction: row;
    }

    .lista__item {
        /* Dimensão */
        width: 25%;
    }

}